@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

div .swiper-pagination-bullet-active {
    background: #F9CF6B;
}

.mySwiper {
    padding-bottom: 42px !important;
}

@font-face {
    font-family: "YUKITA";
    src: url("../public/fonts/Yukita/yukita-sans.medium.otf");
}